@tailwind base;
@tailwind components;
@tailwind utilities;

/* global style */
body {
  /* background-color: rgba(35, 35, 35, 0.896); */
  position: relative;
}

/* gradient text style */
.gradient-text {
  background: radial-gradient(
    rgb(27, 27, 27),
    rgb(255, 255, 255),
    rgb(15, 14, 14)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
