@tailwind base;
@tailwind components;
@tailwind utilities;

/* global style */
body {
  /* background-color: rgba(35, 35, 35, 0.896); */
  position: relative;
}

/* gradient text style */
.gradient-text {
  background: linear-gradient(
   #12F7D6,
    rgb(255, 255, 255),
    #12F7D6
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
